@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Monda&family=Courgette&display=swap");

/* Modern CSS Reset - https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* End of CSS Reset */

:root {
  /*  Pokemon Colors */
  --color-red: rgb(255, 0, 0);
  --color-boston-red: rgb(204, 0, 0);
  --color-gold: rgb(255, 203, 5);
  --color-tan: rgb(255, 236, 158);
  --color-light-blue: rgb(61, 125, 202);
  --color-navy-blue: rgb(0, 58, 112);
  --color-white: rgb(245, 245, 245);
  --color-dark-gray: rgb(98, 98, 98);
  --color-darker-gray: rgb(53, 53, 53);

  /* Font Sizes */
  --font-size-1400: 3.5rem;
  --font-size-1000: 2.5rem;
  --font-size-800: 2rem;
  --font-size-700: 1.75rem;
  --font-size-600: 1.5rem;
  --font-size-500: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-350: 0.875rem;
  --font-size-300: 0.75rem;

  /* Font Weights */
  --font-weight-900: 900;
  --font-weight-700: 700;
  --font-weight-normal: 400;
}

body {
  display: grid;
  place-content: center;
  font-family: "Monda", sans-serif;
  background: linear-gradient(90deg, rgb(0, 58, 112), rgb(61, 125, 202));
}

h1,
h2,
h3 {
  letter-spacing: 0rem;
}

h2,
h3 {
  letter-spacing: 0.1rem;
  font-weight: var(--font-weight-normal);
  margin-top: 0.5em;
}

h3 {
  margin-top: 1.5em;
}

.app-name {
  font-family: "Courgette", sans-serif;
  font-size: var(--font-size-1000);
  margin: 0.5em 0 0.5em 0;
  color: var(--color-gold);
  text-shadow: 3px 3px var(--color-navy-blue);
  letter-spacing: 0.3rem;
}

.center-text {
  text-align: center;
}

.pokemon-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(8, minmax(200px, 1fr));
}

.pokemon-card {
  display: grid;
  background-color: var(--color-dark-gray);
  max-width: 18em;
  margin: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
  justify-content: space-between;
}

.pokemon-card:hover {
  transform: scale(1.00625);
  cursor: pointer;
}

.pokemon-card__top_container {
  display: flex;
  justify-content: space-between;
}

.pokemon-card__id {
  color: var(--color-tan);
  align-self: flex-start;
}

.pokemon-card__hp {
  color: var(--color-tan);
}
.pokemon-card__hp img {
  height: 24px;
  width: 24px;
  float: left;
  margin-right: 0.5em;
}

.pokemon-card__name {
  font-family: "Kalam", sans-serif;
  font-size: var(--font-size-800);
  color: var(--color-white);
  margin-top: 0.25em;
  text-transform: capitalize;
  text-shadow: 2px 2px var(--color-darker-gray);
}

.pokemon-card__image {
  max-width: 50%;
  place-self: center;
}

.pokemon-card__type {
  font-family: "Courgette", sans-serif;
  font-size: var(--font-size-500);
  color: var(--color-gold);
  text-shadow: 1px 1px var(--color-darker-gray);
  text-transform: capitalize;
}

.pokemon-card__info {
  font-family: "Courgette", sans-serif;
  font-size: var(--font-size-350);
  color: var(--color-tan);
}

/* Media breakpoints for responsive design */

@media (max-width: 2275px) {
  .pokemon-container {
    grid-template-columns: repeat(6, minmax(200px, 1fr));
  }
}

@media (max-width: 1850px) {
  .pokemon-container {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

@media (max-width: 1275px) {
  .pokemon-container {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 1000px) {
  .pokemon-container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media (max-width: 715px) {
  .pokemon-container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
